<mat-card>

    <mat-card-content>

        <form [formGroup]="formData" autocomplete="off">

            <h6>
                Party Payments / Receipts Master
            </h6>

            <div class="row p-1">

                <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.company' | translate }}</mat-label>
                    <mat-select formControlName="company">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.branch' | translate }}</mat-label>
                    <mat-select formControlName="branch">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let branch of branchList" [value]="branch.id">
                            {{branch.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.transactionType' | translate }}</mat-label>
                    <mat-select formControlName="transactionType"
                        (selectionChange)="checkTransType(); accountSelect();">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let trans of transactionTypeList" [value]="trans">
                            {{ trans }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.natureofTransaction' | translate }}</mat-label>
                    <mat-select formControlName="natureofTransaction">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let nature of natureofTransactionList" [value]="nature">
                            {{ nature }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.voucherType' | translate }}</mat-label>
                    <mat-select formControlName="voucherType"
                        (selectionChange)="voucherTypeSelect(); voucherNoCalculate();">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let type of voucherTypeList" [value]="type.voucherTypeId">
                            {{type.voucherTypeId}}- {{type.voucherTypeName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'receiptspayments.voucherNumber'"></mat-label>
                    <input matInput formControlName="voucherNumber" appFocusOnEnter tabIndex="1">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'receiptspayments.voucherDate'"></mat-label>
                    <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker1" [nonEditable]="picker1" formControlName="voucherDate"
                        appFocusOnEnter tabIndex="2">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'receiptspayments.postingDate'"></mat-label>
                    <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker2" [nonEditable]="picker2" formControlName="postingDate"
                        appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.account' | translate }}</mat-label>
                    <mat-select formControlName="account">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let acc of accountList" [value]="acc.id">
                            {{ acc.id }} - {{acc.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'receiptspayments.referenceNo'"></mat-label>
                    <input matInput  formControlName="referenceNo" appFocusOnEnter tabIndex="4">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'receiptspayments.referenceDate'"></mat-label>
                    <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker4" [nonEditable]="picker4"  formControlName="referenceDate"
                        appFocusOnEnter tabIndex="5">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>

                <!-- <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.profitCenter' | translate }}</mat-label>
                    <mat-select formControlName="profitCenter">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let profCen of profitCenterList" [value]="profCen.id">
                            {{profCen.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.segment' | translate }}</mat-label>
                    <mat-select formControlName="segment">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let segm of segmentList" [value]="segm.id">
                            {{segm.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="col-2">
                    <mat-label [translate]="'receiptspayments.amount'"></mat-label>
                    <input matInput type="number" readonly formControlName="amount" appFocusOnEnter tabIndex="6">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'receiptspayments.chequeno'"></mat-label>
                    <input matInput  formControlName="chequeNo" appFocusOnEnter tabIndex="7">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'receiptspayments.chequeDate'"></mat-label>
                    <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="chequeDatepicker1" [nonEditable]="chequeDatepicker1"  formControlName="chequeDate"
                        appFocusOnEnter tabIndex="8">
                    <mat-datepicker-toggle matSuffix [for]="chequeDatepicker1"></mat-datepicker-toggle>
                    <mat-datepicker #chequeDatepicker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.bpcategory' | translate }}</mat-label>
                    <mat-select formControlName="bpcategory" (selectionChange)="onbpChange()">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let acc of bpTypeList" [value]="acc.code">
                            {{acc.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field class="col-2">
                    <mat-label>{{ 'receiptspayments.partyAccount' | translate }}</mat-label>
                    <mat-select formControlName="partyAccount" (selectionChange)="puchaseinvoiceselect()">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let acc of bpgLists" [value]="acc.id">
                            {{acc.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <div class="mat-mdc-form-field typeahead floating-dropdown col-2" [class.filled]="formData.value?.partyAccount?.length > 0">
                    <label [translate]="'receiptspayments.partyAccount'"></label>
                    <input placeholder=" " formControlName="partyAccount"
                        [typeahead]="bpgLists" typeaheadOptionField='text' appFocusOnEnter tabIndex="9" (typeaheadOnSelect)="puchaseinvoiceselect()"
                        class="form-control typeahead" [typeaheadItemTemplate]="customItemTemplate"  >
                    <ng-template #customItemTemplate let-model="item">
                        <span>{{model.text}}</span>
                    </ng-template>
                </div>

            </div>
        </form>

        <!-- <div>
            <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
                [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table>
        </div> -->

        <div class="p-2 card">

            <h6>
                Party Payments / Receipts Details
            </h6>

            <form [formGroup]="formData1" autocomplete="off">

                <div class="row p-1">

            
                    <mat-form-field class="col-2">
                        <mat-label [translate]="'receiptspayments.adjustmentAmount'"></mat-label>
                        <input matInput type="number" formControlName="adjustmentAmount" appFocusOnEnter tabIndex="10">
                    </mat-form-field>

                     <mat-form-field class="col-2">
                        <mat-label [translate]="'receiptspayments.writeOffAmount'"></mat-label>
                        <input matInput type="number" formControlName="writeOffAmount" appFocusOnEnter tabIndex="11">
                    </mat-form-field>
                    
                     <mat-form-field class="col-2">
                        <mat-label [translate]="'receiptspayments.narration'"></mat-label>
                        <input matInput type="text" formControlName="narration" appFocusOnEnter tabIndex="12">
                    </mat-form-field>

                </div>

                <div id="for" class="d-flex justify-content-end mb-3">

                    <button mat-raised-button id="submit" type="submit" class="button-color-bule mx-1 text-white"
                        (click)="saveForm()"><i class="fa-solid fa-arrows-rotate"></i>
                        {{ 'COMMON.UPDATE' | translate }}
                    </button>
                    <button mat-raised-button id="reset" class="button-color-red text-white mx-1" (click)="resetForm();"><i class="fa-solid fa-arrow-rotate-right"></i>
                        {{ 'COMMON.RESET' | translate }}
                    </button>

                </div>

            </form>

            <div>
                <app-table class="table-css" [tableData]="tableData" [showButtons]="false"
                    (editOrDeleteEvent)="editOrDeleteEvent($event)" >
                </app-table>
            </div>
        </div>

    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end py-1">

        <button id="save" [hidden]="routeEdit != ''" mat-raised-button type="submit" class="button-color-bule mx-3 text-white"
            (click)="save()"><i class="fa-solid fa-floppy-disk"></i>
            {{ 'COMMON.SAVE' | translate }}
        </button>
        <button id="reset" [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="reset();"><i class="fa-solid fa-arrow-rotate-right"></i>
            {{ 'COMMON.RESET' | translate }}
        </button>
        <button id="back" mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
            {{ 'COMMON.BACK' | translate }}
        </button>
        <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="return();">
            {{ 'COMMON.RETURN' | translate }}
        </button>

    </mat-card-content>

</mat-card>