<div class="position-relative ">

    <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
        <span> {{'materialrequisition.productionStatus' | translate }} </span>
        <mat-icon class="my-2 cursor--pointer" (click)="back()">close</mat-icon>
    </mat-card-title>


    <mat-card-content class="pt-5 p-2 m-0 ">

        <form [formGroup]="formData" autocomplete="off">

            <div class="d--flex p-1 mat-form-field-height justify-content-between align-items-end">

                <mat-form-field>
                    <mat-label>{{'materialrequisition.allocatedPerson' | translate }}</mat-label>
                    <mat-select formControlName="allocatedPerson" appFocusOnEnter tabIndex="1">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let emp of data.employeesList" [value]="emp.text">
                        {{emp.id}}- {{emp.text}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>{{'materialrequisition.mechine' | translate }}</mat-label>
                    <mat-select formControlName="mechine" appFocusOnEnter tabIndex="2">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let emp of data.mechenaryList" [value]="emp.description">
                        {{emp.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="form-element">
                    <mat-label [translate]="'materialrequisition.startDate'"></mat-label>
                    <input matInput [matDatepicker]="picker1" [nonEditable]="picker1" formControlName="startDate"
                        appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="form-element">
                    <mat-label [translate]="'materialrequisition.endDate'"></mat-label>
                    <input matInput [matDatepicker]="picker2" [nonEditable]="picker2" formControlName="endDate"
                        appFocusOnEnter tabIndex="4">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'materialrequisition.workStatus' | translate }}</mat-label>
                    <mat-select formControlName="workStatus" appFocusOnEnter tabIndex="3">
                      <mat-option>None</mat-option>
                      <mat-option value="Assigned"> Assigned </mat-option>
                      <mat-option value="In Progress"> In Progress </mat-option>
                      <mat-option value="Completed"> Completed </mat-option>
                      <mat-option value="Rejected"> Rejected </mat-option>
                      <mat-option value="Assigned to QC"> Assigned to QC </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="form-element">
                    <mat-label [translate]="'materialrequisition.productionPlanDate'"></mat-label>
                    <input matInput [matDatepicker]="picker3" [nonEditable]="picker3" formControlName="productionPlanDate"
                        appFocusOnEnter tabIndex="11">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="form-element">
                  <mat-label [translate]="'materialrequisition.productionTargetDate'"></mat-label>
                  <input matInput [matDatepicker]="picker4" [nonEditable]="picker4" formControlName="productionTargetDate"
                      appFocusOnEnter tabIndex="12">
                  <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="mb-3 d-flex justify-content-end">

                <button mat-raised-button type="submit" class="button-color-bule mx-1 text-white"
                    (click)="saveForm()">
                    {{ 'COMMON.ADD' | translate }}
                </button>
                <button mat-raised-button class="button-color-red text-white mx-1" (click)="resetForm();">
                    {{ 'COMMON.RESET' | translate }}
                </button>

            </div>

        </form>

        <div>
            <app-table #tableRef class="table-css" [routerParam]="'materialrequisition'" [tableData]="tableData"
            (editOrDeleteEvent)="editOrDeleteEvent($event)"  [showButtons]="false">
            </app-table>
        </div>


    </mat-card-content>

    <div class="form-element p-2 d-flex justify-content-end">
        <button mat-raised-button class="button-color-red text-white mx-1" (click)="back()">
            {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">
            {{ 'COMMON.SAVE' | translate }}
        </button>
    </div>
</div>