<mat-card>

    <mat-card-content>

        <form [formGroup]="formData" autocomplete="off">

            <h6>
                Requisition Header
            </h6>

            <div id="forms" class="row p-1">

                <mat-form-field class="col-2">
                    <mat-label>{{ 'purcahserequisition.company' | translate }}</mat-label>
                    <mat-select formControlName="company" appFocusOnEnter tabIndex="1">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field>
                    <mat-label>{{'purcahserequisition.plant' | translate }}</mat-label>
                    <mat-select formControlName="plant" appFocusOnEnter tabIndex="12">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let pnt of plantList" [value]="pnt.plantCode">
                            {{pnt.plantCode}} - {{pnt.plantname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="col-2">
                    <mat-label>{{'purcahserequisition.profitCenter' | translate }}</mat-label>
                    <mat-select formControlName="profitCenter" appFocusOnEnter tabIndex="2">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let pft of profitCenterList" [value]="pft.id">
                            {{pft.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{'purcahserequisition.department' | translate }}</mat-label>
                    <mat-select formControlName="department" appFocusOnEnter tabIndex="3">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let dept of functionaldeptList" [value]="dept.code">
                            {{dept.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- <mat-form-field class="col-2">
                    <mat-label>{{ 'purcahserequisition.branch' | translate }}</mat-label>
                    <mat-select formControlName="branch">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let branch of branchList" [value]="branch.id">
                            {{branch.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- <mat-form-field>
                    <mat-label>{{'purcahserequisition.costCenter' | translate }}</mat-label>
                    <mat-select formControlName="costCenter" appFocusOnEnter tabIndex="5">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let cost of costcenterList" [value]="cost.code">
                            {{cost.costCenterName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->



                <!-- <mat-form-field>
                    <mat-label>{{'purcahserequisition.wbs' | translate }}</mat-label>
                    <mat-select formControlName="wbs" appFocusOnEnter tabIndex="6">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let wbs of wbsList" [value]="wbs.id">
                            {{wbs.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- <mat-form-field>
                    <mat-label [translate]="'purcahserequisition.projectName'"></mat-label>
                    <mat-select formControlName="projectName" appFocusOnEnter tabIndex="1">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let costUnit of costunitList" [value]="costUnit.id">
                            {{costUnit.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->



                <mat-form-field class="col-2">
                    <mat-label>{{'purcahserequisition.requiredfor' | translate }}</mat-label>
                    <mat-select formControlName="requiredfor" appFocusOnEnter tabIndex="4">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let prod of listOfProdList" [value]="prod.id">
                            {{prod.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field class="col-2">
                    <mat-label [translate]="'purcahserequisition.requisitionNumber'"></mat-label>
                    <input matInput type="text" formControlName="requisitionNumber" maxlength="50" appFocusOnEnter
                        tabIndex="2">
                </mat-form-field> -->

                <mat-form-field class="col-2">
                    <mat-label [translate]="'purcahserequisition.requisitionDate'"></mat-label>
                    <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker"
                        [nonEditable]="picker" formControlName="requisitionDate" appFocusOnEnter tabIndex="5">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'purcahserequisition.narration'"></mat-label>
                    <input matInput formControlName="narration" maxlength="100" required>
                    <mat-hint align="end">{{ formData.get('narration')?.value?.length || 0 }}/100</mat-hint>
                    <mat-error *ngIf="formData.get('narration')?.hasError('required')">
                        Narration is required.
                    </mat-error>
                    <mat-error *ngIf="formData.get('narration')?.hasError('maxlength')">
                        Narration cannot exceed 100 characters.
                    </mat-error>
                </mat-form-field>

            </div>

        </form>

        <div class="p-2 card">

            <h6>
                Material Details
            </h6>

            <form [formGroup]="formData1" autocomplete="off">

                <div class="row p-1">

                    <div class="mat-mdc-form-field  typeahead floating-dropdown col-2"
                        [class.filled]="formData1.value?.materialCode?.length > 0">
                        <label> {{ 'purcahserequisition.materialCode' | translate }} </label>
                        <input placeholder=" " formControlName="materialCode" [typeaheadOptionsLimit]="100000" [typeahead]="materialList"
                            typeaheadOptionField='id' (typeaheadOnSelect)="materialCodeChange()" appFocusOnEnter
                            tabIndex="6" class="form-control typeahead" [typeaheadItemTemplate]="customItemTemplate">
                        <ng-template #customItemTemplate let-model="item">
                            <span><strong>{{model.id}}</strong> - {{model.text}}</span>
                        </ng-template>
                    </div>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'purcahserequisition.stockQty'"></mat-label>
                        <input matInput type="number" readonly formControlName="stockQty" appFocusOnEnter tabIndex="7">
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'purcahserequisition.qty'"></mat-label>
                        <input matInput type="number" formControlName="qty" appFocusOnEnter tabIndex="8">
                    </mat-form-field>

                </div>


                <div id="for" class="mb-3">

                    <button mat-raised-button id="submit" type="submit" class="button-color-bule mx-1 text-white"
                        (click)="saveForm()"><i class="fa-solid fa-arrows-rotate"></i>
                        {{ 'COMMON.UPDATE' | translate }}
                    </button>
                    <button mat-raised-button id="reset" class="button-color-red text-white mx-1"
                        (click)="resetForm();"><i class="fa-solid fa-arrow-rotate-right"></i>
                        {{ 'COMMON.RESET' | translate }}
                    </button>

                </div>

            </form>

            <div>
                <app-table class="table-css" [tableData]="tableData" [showButtons]="false"
                    (editOrDeleteEvent)="editOrDeleteEvent($event)">
                </app-table>
            </div>
        </div>



        <div>
            <!-- <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
                [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table> -->
            <!-- <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
               [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table> -->
        </div>


    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end py-1">

        <button id="save" mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="save()"><i
                class="fa-solid fa-floppy-disk"></i>
            {{ 'COMMON.SAVE' | translate }}
        </button>
        <button id="back" mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
            {{ 'COMMON.BACK' | translate }}
        </button>
        <!-- <button [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="reset();">
            {{ 'COMMON.RESET' | translate }}
        </button> -->
        <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="return();">
            {{ 'COMMON.RETURN' | translate }}
        </button>

    </mat-card-content>

</mat-card>