<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'openingBalance.title' | translate }} </span>
    <mat-icon class="p-2  cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="row">
        <!-- <mat-form-field class="col-3">
          <mat-label>{{ 'openingBalance.branchName' | translate }}</mat-label>
          <mat-select formControlName="branchCode" appFocusOnEnter tabIndex="3"  (selectionChange)="genarateVoucherNo();">
              <mat-option *ngFor="let branch of GetBranchesListArray" [value]="branch.id">
                {{ branch.id }} - {{branch.text}}
              </mat-option>
          </mat-select>
      </mat-form-field> -->

        <div *ngIf="!formData.item" class="col-12">
          <mat-radio-group class="d-flex" formControlName="itemType" appFocusOnEnter tabIndex="0">
            <mat-radio-button class="me-3" value="GLAccounts"> {{ 'openingBalance.glAccounts' | translate }} </mat-radio-button>
            <mat-radio-button class="me-3" value="BusinessPartners"> {{ 'openingBalance.businessPartners' | translate }} </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mat-mdc-form-field typeahead floating-dropdown col-3" *ngIf="!formData.item && modelFormData.get('itemType').value === 'GLAccounts'"
          [class.filled]="modelFormData.value?.ledgerName?.length > 0">
          <label> {{ 'openingBalance.ledgerName' | translate }} </label>
          <input matInput placeholder=" " class="typeahead" [typeaheadOptionsLimit]="100000"  (typeaheadOnSelect)="onLedgerChange($event)"
            [typeahead]="gLAccountsList" typeaheadOptionField='text' [typeaheadItemTemplate]="customItemTemplate"
            formControlName="ledgerName" appFocusOnEnter tabIndex="1">
          <ng-template #customItemTemplate let-model="item">
            <span><strong>{{model.id}}</strong> - {{model.text}}</span>
          </ng-template>
        </div>

        <div class="mat-mdc-form-field typeahead floating-dropdown col-3" *ngIf="!formData.item && modelFormData.get('itemType').value === 'BusinessPartners'"
          [class.filled]="modelFormData.value?.ledgerName?.length > 0">
          <label> {{ 'openingBalance.ledgerName' | translate }} </label>
          <input matInput placeholder=" " class="typeahead" [typeaheadOptionsLimit]="100000" (typeaheadOnSelect)="onLedgerChange($event)"
            [typeahead]="getBusinessPartnersAccList" typeaheadOptionField='name' [typeaheadItemTemplate]="customItemTemplate"
            formControlName="ledgerName" appFocusOnEnter tabIndex="1">
          <ng-template #customItemTemplate let-model="item">
            <span><strong>{{model.name}}</strong> </span>
          </ng-template>
        </div>

        <mat-form-field class="col-3" *ngIf="formData.item">
          <mat-label>{{ 'openingBalance.ledgerName' | translate }}</mat-label>
          <input matInput formControlName="ledgerName" appFocusOnEnter readonly tabIndex="1">
        </mat-form-field>

        <mat-form-field class="col-3" *ngIf="formData.item">
          <mat-label>{{ 'openingBalance.paymentTypeName' | translate }}</mat-label>
          <mat-select formControlName="paymentTypeId" appFocusOnEnter tabIndex="2">
            <mat-option *ngFor="let payment of getPaymentListArray" [value]="payment.id">
              {{payment.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

         <mat-form-field class="col-3" *ngIf="!formData.item">
          <mat-label>{{ 'openingBalance.paymentTypeName' | translate }}</mat-label>
          <mat-select formControlName="paymentTypeId" appFocusOnEnter tabIndex="2">
            <mat-option *ngFor="let payment of getPaymentListArray" [value]="payment.id">
              {{payment.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field class="col-3" *ngIf="formData.item">
          <mat-label>{{ 'openingBalance.paymentTypeName' | translate }}</mat-label>
          <input matInput formControlName="paymentTypeName" appFocusOnEnter tabIndex="2">
        </mat-form-field> -->

        <mat-form-field class="col-3" *ngIf="!formData.item">
          <mat-label>{{ 'openingBalance.voucherNo' | translate }}</mat-label>
          <input matInput formControlName="voucherNo" appFocusOnEnter tabIndex="3">
        </mat-form-field>

         <mat-form-field class="col-3" *ngIf="formData.item">
          <mat-label>{{ 'openingBalance.voucherNo' | translate }}</mat-label>
          <input matInput formControlName="voucherNo" appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field class="col-3">
          <mat-label>{{ 'openingBalance.openingBalanceDate' | translate }}</mat-label>
          <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker"
             formControlName="openingBalanceDate"
            appFocusOnEnter tabIndex="4" (click)="picker.open()" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-3">
          <mat-label>{{ 'openingBalance.openingBalance' | translate }}</mat-label>
          <input matInput formControlName="openingBalance"
            appFocusOnEnter tabIndex="5">
        </mat-form-field>

        <mat-form-field class="col-3">
          <mat-label>{{ 'openingBalance.closingBalance' | translate }}</mat-label>
          <input matInput formControlName="closingBalance"
            appFocusOnEnter tabIndex="6">
        </mat-form-field>

        <mat-form-field class="col-3">
          <mat-label>{{ 'openingBalance.narration' | translate }}</mat-label>
          <input matInput formControlName="narration"
            appFocusOnEnter tabIndex="7">
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>

      <div class="form-element mt-2 d-flex justify-content-end">
        <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter tabIndex="8">
          {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()"
          appFocusOnEnter tabIndex="9">

          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>

    </form>

  </mat-card-content>
</div>