mat-form-field {
    margin: 5px;
    flex: 0 0 15.75%;
  }
    ::ng-deep .table-css {
    .table {
      min-height: 4vh !important;
    }
  }

      .mat-mdc-form-field {
      margin: 5px;
      flex: 0 0 16%;
    }

    ::ng-deep .multiselect-dropdown-list {
      width: 20%;
      margin: 20px;
      ng-multiselect-dropdown {
        .multiselect-dropdown {
          .dropdown-btn {
            border: none !important;
            border-bottom: 1px solid #adadad !important;
            border-radius: 0px !important;
            .selected-item {
              border: none !important;
              background: none !important;
              color: rgba(0,0,0,.87) !important;
            }
            .selected-item:hover {
              box-shadow: none !important;
            }
          }
        }
      }
    }

    #submit{
      background-color:#477994 !important ;
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.3s;
    }
    
    
    #submit:hover{
      background-color: cadetblue !important;
      transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.1);
    }
    #reset{
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.3s;
      
    }
    #reset:hover{
      transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.1);
    }

    #upload{
      border-style: none;
      background-color: transparent;
    }

    #form{
      display:flex;
      justify-content: space-evenly;
    }

    

    .mx-2{
      display:flex;
      flex-direction: column;
    }

   
    