mat-form-field {
    margin: 5px;
    flex: 0 0 15.75%;
  }
    ::ng-deep .table-css {
    .table {
      min-height: 4vh !important;
    }
  }

      .mat-mdc-form-field {
      margin: 5px;
      flex: 0 0 16%;
    }

    ::ng-deep .multiselect-dropdown-list {
      width: 20%;
      margin: 20px;
      ng-multiselect-dropdown {
        .multiselect-dropdown {
          .dropdown-btn {
            border: none !important;
            border-bottom: 1px solid #adadad !important;
            border-radius: 0px !important;
            .selected-item {
              border: none !important;
              background: none !important;
              color: rgba(0,0,0,.87) !important;
            }
            .selected-item:hover {
              box-shadow: none !important;
            }
          }
        }
      }
    }

    #submit{
      background-color:#477994  ;
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.3s;
    }
    
    
    #submit:hover{
      background-color: cadetblue ;
      transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.1);
    }
    #reset{
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.3s;
      
    }
    #reset:hover{
      transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.1);
    }

    #save:hover{
      transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.1);
    }
    #back:hover{
      transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.1);
    }

    #upload{
      border-style: none;
      background-color: transparent;
    }

    #material{
     
      display:flex;
      flex-wrap: inherit;
      flex-direction:row ;
      width:100%;
      height:20%;
      margin-left: 0;
      row-gap: 5px;
      
    }

    #mat{
      width:15%;
      padding-top:25px !important;
      
    }

    #by{
      margin-left:0;
    }
   


    // #form{
    //   display:flex;
    //   justify-content: space-evenly;
    // }
  
    

  //   .mx-2{
  //     display:flex;
  //     flex-direction: column;
  //   }

   
  //   #form {
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: space-between;
  // }
  
  // .flex-item {
  //     flex: 0 0 calc(33.33% - 10px); 
  //     margin-bottom: 10px;
  // }
  
  // .mat-form-field {
  //     width: 100%;
  // }


// 


//   #form {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }

// .form-row {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     width: 100%;
//     margin-bottom: 10px;
// }

// .form-element {
//     flex: 0 1 calc(50% - 10px); 
//     margin-bottom: 10px;
// }

// @media (max-width: 991px) {
//     .form-element {
//         flex: 0 1 calc(50% - 10px); 
//     }
// }

// @media (max-width: 767px) {
//     .form-element {
//         flex: 0 1 100%; 
//     }
// }


#form {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 20px; 
  justify-content: space-between; 
  row-gap: 5px;
}

#form > div {
  width: 100%; 
}


@media screen and (max-width: 992px) {
  #form {
      grid-template-columns: repeat(4, 1fr); 
  }
}

@media screen and (max-width: 768px) {
  #form {
      grid-template-columns: repeat(2, 1fr); 
  }
}
