@import "../../../reuse";

mat-toolbar {
  min-height: 50px;
  height: 50px;
  background-color: $color-orange;
}
#user{
  background-color: #174154;

}
.my-2{
  background-color: cadetblue;
}

.my-2:hover{
  background-color: cornflowerblue;
}

// .nav{
//   width: vw;
//   display: flex;
  
// }