<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'holiday.title' | translate }} </span>
    <mat-icon class="p-2  cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.holidayName.valid }">
          <input matInput placeholder="{{'holiday.holidayName' | translate }}" formControlName="holidayName"
                 appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="formControls.holidayName.errors" class="help-block">
            <div *ngIf="formControls.holidayName.errors.required">Name is required</div>
          </mat-error>
        </mat-form-field>

              <mat-form-field class="form-element">
          <input matInput placeholder="{{'holiday.narration' | translate }}"
                 formControlName="narration" appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="{{'holiday.date' | translate }}" formControlName="date" [ngClass]="{ 'ng--valid': formControls.date.valid }">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="formControls.date.errors" class="help-block">
            <div *ngIf="formControls.date.errors.required">Date is required</div>
          </mat-error>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>

      <div class="form-element p-2 d-flex justify-content-end">
        <button mat-raised-button class="button-color-red text-white m-1" (click)="cancel()">

          {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button mat-raised-button type="submit" class="button-color-bule text-white m-1" (click)="save()"
                appFocusOnEnter tabIndex="5">

          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>

    </form>

  </mat-card-content>
</div>
