<mat-card>
  <div class="table-boarder">
  <mat-card-title class="table-boarder-color">
    {{'salaryprocess.title' | translate }}

  </mat-card-title>
  <mat-card-content class="m-2">
      <form [formGroup]="modelFormData" autocomplete="off">
          <div class="d--flex mat-form-field-height">
            <!-- <mat-form-field>
              <mat-label>{{'CTCBreakup.structureName' | translate }}</mat-label>
              <mat-select formControlName="structureName" placeholder="Structure Name" appFocusOnEnter>
                  <mat-option *ngFor="let List of structureList" [value]="List.text">
                      {{List.text}}
                  </mat-option>
              </mat-select>
          </mat-form-field> -->

            <mat-form-field>
              <mat-label>{{'salaryprocess.sal_Month' | translate }}</mat-label>
              <mat-select formControlName="sal_Month" placeholder="sal_Month" >
                <mat-option *ngFor="let month of month" [value]="month.value">
                  {{month.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-form-field>
              <mat-label>{{'salaryprocess.sal_Year' | translate }}</mat-label>
              <mat-select formControlName="sal_Year" placeholder="sal_Year" >
                <mat-option *ngFor="let year of year" [value]="year.value">
                  {{year.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </form>
          </mat-card-content>
          <div  class="form-element p-2 d-flex justify-content-end">
            <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

              {{ 'COMMON.CANCEL' | translate }}
          </button>
          <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()"
          appFocusOnEnter tabIndex="5">

          {{ 'COMMON.SAVE' | translate }}
      </button>
          </div>
          </div>
          </mat-card>