<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<mat-card>

  <mat-card-content>

    <form [formGroup]="formData" class="card p-2 mb-3" autocomplete="off">

      <h6>
        Saleorder Master
      
      </h6>

      <div class="d--flex p-1 mat-form-field-height">

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.code.valid && formControls.code.status != 'DISABLED',
           'ng--invalid': !formControls.code.valid&& formControls.code.status != 'DISABLED'  }">
          <mat-label [translate]="'standardrateoutput.code'"></mat-label>
          <input matInput formControlName="code" maxlength="5" appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.code.valid && formControls.code.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.code.valid  }">Code is required</mat-error>

        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'standardrateoutput.qctype' | translate }}</mat-label>
          <mat-select formControlName="type" appFocusOnEnter tabIndex="3" (selectionChange)="getCommitmentList(formData.value.type)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let type of Type" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.type.valid && formControls.type.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.type.valid  }">Type is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'qcparamconfiguration.product' | translate }}</mat-label>
          <mat-select formControlName="product" appFocusOnEnter tabIndex="3" (selectionChange)="onProductChange()">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let type of ProductType" [value]="type.value" >
                  {{type.viewValue}}
              </mat-option>
          </mat-select>
      </mat-form-field>

        <div class="mat-mdc-form-field typeahead">
          <input placeholder="{{ 'standardrateoutput.materialCode' | translate }}" formControlName="materialCode"
            [typeahead]="qnoList" typeaheadOptionField='bomnumber' appFocusOnEnter tabIndex="9"
            class="form-control typeahead" [typeaheadItemTemplate]="customItemTemplate">
          <ng-template #customItemTemplate let-model="item">
            <span><strong>{{model.bomnumber}}</strong> - {{model.bomName}}</span>
          </ng-template>
          <mat-error *ngIf="!formControls.materialCode.valid && formControls.materialCode.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.materialCode.valid  }">Material Code is required</mat-error>
        </div>


      </div>

    </form>

    <div class="p-2 card">

      <h6>
        Saleorder Details
       
      </h6>

      <form [formGroup]="formData1" autocomplete="off">

        <div class="d--flex p-1 mat-form-field-height">

          <div class="multiselect-dropdown-list" *ngIf="routeEdit">
            <ng-multiselect-dropdown  
              placeholder="{{ 'standardrateoutput.parameter' | translate }}" formControlName="parameter"
             [settings]="dropdownSettings" [data]="citemList">
            </ng-multiselect-dropdown>
          </div>
          
          <mat-form-field class="form-element">
            <mat-label [translate]="'standardrateoutput.spec'"></mat-label>
            <input matInput formControlName="spec" type="text" maxlength="50" appFocusOnEnter tabIndex="2">
          </mat-form-field>

          <mat-form-field class="form-element">
            <mat-label [translate]="'standardrateoutput.minval'"></mat-label>
            <input matInput formControlName="minValue" type="text" maxlength="50" appFocusOnEnter tabIndex="2">
          </mat-form-field>
          
          <mat-form-field class="form-element">
            <mat-label [translate]="'standardrateoutput.maxval'"></mat-label>
            <input matInput formControlName="maxValue" type="text" maxlength="50" appFocusOnEnter tabIndex="2">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'standardrateoutput.uom' | translate }}</mat-label>
            <mat-select formControlName="uom" appFocusOnEnter tabIndex="3">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let size of msizeList" [value]="size.unitId">
                {{size.unitName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-element">
            <mat-label [translate]="'standardrateoutput.instrument'"></mat-label>
            <mat-select formControlName="instrument" appFocusOnEnter tabIndex="3">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let instrument of instruments" [value]="instrument.description">
                {{instrument.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div id="for" class="d-flex justify-content-end mb-3">

          <button mat-raised-button id="submit" type="submit" class="button-color-bule mx-1 text-white" (click)="saveForm()"><i class="fa-solid fa-arrows-rotate"></i>
            {{ 'COMMON.UPDATE' | translate }}
          </button>
          <button mat-raised-button id="reset" class="button-color-red text-white mx-1" (click)="resetForm();"><i class="fa-solid fa-arrow-rotate-right"></i>
            {{ 'COMMON.RESET' | translate }}
          </button>

        </div>

      </form>

      <div>
        <app-table class="table-css" [tableData]="tableData" [showButtons]="false"
          (editOrDeleteEvent)="editOrDeleteEvent($event)">
        </app-table>
      </div>
    </div>


  </mat-card-content>

  <mat-card-content class="d-flex justify-content-end py-1">

    <button id="save" mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="save()"><i class="fa-solid fa-floppy-disk"></i>
      {{ 'COMMON.SAVE' | translate }}
    </button>
    <button id="back" mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
      {{ 'COMMON.BACK' | translate }}
    </button>
    <button id="reset" [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3" (click)="reset();"><i class="fa-solid fa-arrow-rotate-right"></i>
      {{ 'COMMON.RESET' | translate }}
    </button>

  </mat-card-content>

</mat-card>