

<mat-card>

    <mat-card-content >
    
        <form  [formGroup]="formData" class="p-2 mb-3" autocomplete="off">

            <h6 id="background">
                Sale Order Master
            </h6>

            <div class="p-1 row" >

                <mat-form-field class="col-3">
                    <mat-label>{{ 'saleorder.company' | translate }}</mat-label>
                    <mat-select formControlName="company" appFocusOnEnter tabIndex="1">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-3">
                    <mat-label>{{'saleorder.profitCenter' | translate }}</mat-label>
                    <mat-select formControlName="profitCenter" appFocusOnEnter tabIndex="2">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let pft of profitCenterList" [value]="pft.id">
                            {{pft.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="multiselect-dropdown-list floating-dropdown col-3" [class.filled]="formData.value?.customerCode?.length > 0" >
                    <label> {{ 'saleorder.supplierName' | translate }} </label>
                    <ng-multiselect-dropdown placeholder=" "
                        formControlName="customerCode" (onSelect)="customerCodeChange($event)"
                        [settings]="dropdownSettings" [data]="customerList">
                    </ng-multiselect-dropdown>
                </div>

                <mat-form-field class="col-3">
                    <mat-label [translate]="'saleorder.poDate'"></mat-label>
                    <input matInput [matDatepicker]="picker2" [nonEditable]="picker2" formControlName="poDate"
                        appFocusOnEnter tabIndex="4">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-3">
                    <mat-label [translate]="'saleorder.poNumber'"></mat-label>
                    <input matInput type="text" formControlName="poNumber" appFocusOnEnter tabIndex="5">
                </mat-form-field>

                <mat-form-field class="col-3" >
                    <mat-label [translate]="'saleorder.dateofSupply'"></mat-label>
                    <input matInput [matDatepicker]="picker3" [nonEditable]="picker3" formControlName="dateofSupply"
                        appFocusOnEnter tabIndex="7">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-3" >
                    <mat-label [translate]="'saleorder.placeOfSupply'"></mat-label>
                    <input matInput type="text" formControlName="placeofSupply" appFocusOnEnter tabIndex="8">
                </mat-form-field>


                <!-- <div class="mat-mdc-form-field typeahead" id="typeaheads">
                    <input placeholder="{{ 'saleorder.materialCode' | translate }}" formControlName="materialCode"
                        [typeahead]="materialList" typeaheadOptionField='id' appFocusOnEnter tabIndex="9"
                        class="form-control typeahead" [typeaheadItemTemplate]="customItemTemplate"
                        (typeaheadOnSelect)="materialCodehChange()" >
                    <ng-template #customItemTemplate let-model="item">
                        <span><strong>{{model.id}}</strong> - {{model.text}}</span>
                    </ng-template>
                </div> -->

                <div class="mat-mdc-form-field typeahead floating-dropdown col-3" [class.filled]="formData.value?.bom?.length > 0" >
                    <label> {{ 'saleorder.bom' | translate }} </label>
                    <input placeholder=" " formControlName="bom"
                    [typeahead]="qnoList" typeaheadOptionField='bomnumber' appFocusOnEnter tabIndex="10"
                        class="form-control typeahead" [typeaheadItemTemplate]="customItemTemplate1"
                        (typeaheadOnSelect)="getBomDetail()" >
                    <ng-template #customItemTemplate1 let-model="item">
                        <span><strong>{{model.bomnumber}}</strong> - {{model.bomName}}</span>
                    </ng-template>
                </div>

                <div class="col-3">  <app-file-upload [type]="'card'" [oldFileList]="formData.value.documentURL"
                        (uploadFile)="downLoadFile($event)" (emitFilesList)="emitFilesList($event)"></app-file-upload>
                </div>

            </div>

        </form>

        <div class="p-2 card">

            <h6 >
                Sale Order Details
            </h6>

            <form [formGroup]="formData1" autocomplete="off">

                <div class="row p-1">

                    <!-- <div class="mat-mdc-form-field typeahead">
                        <input placeholder="{{ 'saleorder.materialCode' | translate }}" formControlName="materialCode"
                            [typeahead]="materialList" typeaheadOptionField='id' appFocusOnEnter tabIndex="9"
                            class="form-control typeahead" [typeaheadItemTemplate]="customItemTemplate"
                            (typeaheadOnSelect)="materialCodeChange()" (change)="materialChange()">
                        <ng-template #customItemTemplate let-model="item">
                            <span><strong>{{model.id}}</strong> - {{model.text}}</span>
                        </ng-template>
                    </div> -->

                    <!-- <mat-form-field class="form-element">
                        <mat-label [translate]="'saleorder.stockQty'"></mat-label>
                        <input matInput type="number" readonly formControlName="stockQty" appFocusOnEnter tabIndex="10">
                    </mat-form-field> -->

                    <mat-form-field class="col-3">
                        <mat-label>{{ 'saleorder.taxCode' | translate }}</mat-label>
                        <mat-select formControlName="taxCode" appFocusOnEnter tabIndex="11">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let tax of taxCodeList" [value]="tax.taxRateCode">
                                {{tax.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-3">
                        <mat-label [translate]="'saleorder.qty'"></mat-label>
                        <input matInput type="number" formControlName="qty" appFocusOnEnter tabIndex="12">
                    </mat-form-field>

                    <mat-form-field class="col-3">
                        <mat-label [translate]="'saleorder.rate'"></mat-label>
                        <input matInput type="number" formControlName="rate" appFocusOnEnter tabIndex="13">
                    </mat-form-field>

                    <mat-form-field class="col-3">
                        <mat-label [translate]="'saleorder.discount'"></mat-label>
                        <input matInput type="number" formControlName="discount" appFocusOnEnter tabIndex="14"
                            (keypress)="commonService.numberOnly($event)" maxlength="2">
                    </mat-form-field>

                    <mat-form-field class="col-3">
                        <mat-label [translate]="'saleorder.deliveryDate'"></mat-label>
                        <input matInput [matDatepicker]="picker13" [nonEditable]="picker13"
                            formControlName="deliveryDate" appFocusOnEnter tabIndex="15">
                        <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                        <mat-datepicker #picker13></mat-datepicker>
                    </mat-form-field>

                </div>

                <div id="for" class="d-flex justify-content-end mb-3">

                    <button mat-raised-button type="submit" id="submit" class="button-color-bule mx-1 text-white"
                        (click)="saveForm()" ><i class="fa-solid fa-arrows-rotate"></i>
                        {{ 'COMMON.UPDATE' | translate }}
                    </button>
                    <button mat-raised-button id="reset"  class="button-color-red text-white mx-1" (click)="resetForm();" ><i class="fa-solid fa-arrow-rotate-right"></i>
                        {{ 'COMMON.RESET' | translate }}
                    </button>

                </div>

            </form>

            <div>
                
                <app-table class="table-css"  [tableData]="tableData" [showButtons]="false"
                    (editOrDeleteEvent)="editOrDeleteEvent($event)" >
                </app-table>
            </div>
        </div>

        


    </mat-card-content>

    <mat-card-content id="flex" class="d-flex justify-content-end py-1">
        

        <div class="d-flex">
            <div class="px-1"> <span class="px-1"> <b>{{ 'saleorder.igst' | translate }} </b></span> :
                <b class="text-danger">{{ formData.value.igst }} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.cgst' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.cgst}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.sgst' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.sgst}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.amount' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.amount}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.totalTax' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalTax}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.totalAmount' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalAmount}} </b>
            </div>
        </div>

        <div>

            <button mat-raised-button type="submit" id="save" class="button-color-bule mx-3 text-white" (click)="save()"><i class="fa-solid fa-floppy-disk"></i>
                {{ 'COMMON.SAVE' | translate }}
            </button>
            <button mat-raised-button id="save" class="button-color-red text-white mx-3" (click)="back();">
                {{ 'COMMON.BACK' | translate }}
            </button>
            <button [hidden]="routeEdit != ''" mat-raised-button id="reset" class="button-color-red text-white mx-3"
                (click)="reset();"><i class="fa-solid fa-arrow-rotate-right"></i>
                {{ 'COMMON.RESET' | translate }}
            </button>
        </div>

    </mat-card-content>

</mat-card>