<mat-card class="test">

    <mat-card-content id="mat">

        <form [formGroup]="formData" class="card p-2 mb-3" autocomplete="off">

            <h6 id="background">
                Source Of Supply Master
            </h6>

            <div id="form" class="row p-1">

                <div class="mat-mdc-form-field typeahead floating-dropdown col-3" [class.filled]="formData.value?.supplierName?.length > 0">
                    <label> {{ 'sourceofsupply.supplierCode' | translate }} </label>
                    <input placeholder=" " formControlName="supplierName"
                        [typeahead]="bpaList" typeaheadOptionField='name' appFocusOnEnter tabIndex="1"
                        class="form-control typeahead" 
                        (typeaheadOnSelect)="supplierCodeChange()">
                </div>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'sourceofsupply.phone'"></mat-label>
                    <input matInput type="number" formControlName="phone" appFocusOnEnter tabIndex="2">
                </mat-form-field>


                <mat-form-field class="col-2">
                    <mat-label [translate]="'sourceofsupply.mobile'"></mat-label>
                    <input matInput type="number" formControlName="mobile" appFocusOnEnter tabIndex="3">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'sourceofsupply.email'"></mat-label>
                    <input matInput formControlName="email" appFocusOnEnter tabIndex="4">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'sourceofsupply.place'"></mat-label>
                    <input matInput formControlName="place" appFocusOnEnter tabIndex="5">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'sourceofsupply.state'"></mat-label>
                    <input matInput formControlName="state" appFocusOnEnter tabIndex="6">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'sourceofsupply.transportMethod'"></mat-label>
                    <input matInput formControlName="transportMethod" appFocusOnEnter tabIndex="7">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'sourceofsupply.contactPerson'"></mat-label>
                    <input matInput formControlName="contactPerson" appFocusOnEnter tabIndex="8">
                </mat-form-field>


                <mat-form-field class="col-2">
                    <mat-label [translate]="'sourceofsupply.narration'"></mat-label>
                    <input matInput formControlName="narration" appFocusOnEnter tabIndex="9">
                </mat-form-field>

            </div>

        </form>

        <div id="forms" class="p-2 card">

            <h6 id="background">
                Source Of Supply Details
            </h6>

            <form [formGroup]="formData1" autocomplete="off">

                <div class="row p-1">

                    <div class="mat-mdc-form-field typeahead floating-dropdown col-3" [class.filled]="formData1.value?.materialCode?.length > 0">
                        <label> {{ 'sourceofsupply.materialCode' | translate }} </label>
                        <input placeholder=" "
                            formControlName="materialCode" [typeahead]="materialList" typeaheadOptionField='id'
                            appFocusOnEnter tabIndex="10" class="form-control typeahead"
                            [typeaheadItemTemplate]="customItemTemplate" (typeaheadOnSelect)="materialCodehChange()">
                        <ng-template #customItemTemplate let-model="item">
                            <span><strong>{{model.id}}</strong> - {{model.text}}</span>
                        </ng-template>
                    </div>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'sourceofsupply.description'"></mat-label>
                        <input matInput formControlName="description" appFocusOnEnter tabIndex="11">
                    </mat-form-field>


                    <mat-form-field class="col-2">
                        <mat-label [translate]="'sourceofsupply.priceperUnit'"></mat-label>
                        <input matInput type="number" formControlName="priceperUnit" appFocusOnEnter tabIndex="12">
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label>{{ 'sourceofsupply.unit' | translate }}</mat-label>
                        <mat-select id="unit" formControlName="unit" appFocusOnEnter tabIndex="13">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let comp of msizeList" [value]="comp.unitId">
                                {{comp.unitName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'sourceofsupply.lastSupplyPrice'"></mat-label>
                        <input matInput type="number" formControlName="lastSupplyPrice" appFocusOnEnter tabIndex="14">
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'sourceofsupply.lastSupplyOn'"></mat-label>
                        <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker1" [nonEditable]="picker1" formControlName="lastSupplyOn"
                            appFocusOnEnter tabIndex="15">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'sourceofsupply.ponumber'"></mat-label>
                        <input matInput type="number" formControlName="ponumber" appFocusOnEnter tabIndex="16">
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'sourceofsupply.podate'"></mat-label>
                        <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker2" [nonEditable]="picker2" formControlName="podate"
                            appFocusOnEnter tabIndex="17">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'sourceofsupply.deliveryDays'"></mat-label>
                        <input matInput type="number" formControlName="deliveryDays" appFocusOnEnter tabIndex="18">
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'sourceofsupply.paymentDueDays'"></mat-label>
                        <input matInput type="number" formControlName="paymentDueDays" appFocusOnEnter tabIndex="19">
                    </mat-form-field>

                </div>

                <div id="for" class="d-flex justify-content-end mb-3">

                    <button mat-raised-button type="submit" id="submit" class="button-color-bule mx-1 text-white"
                        (click)="saveForm()"><i class="fa-solid fa-arrows-rotate"></i>
                        {{ 'COMMON.UPDATE' | translate }}
                    </button>
                    <button mat-raised-button id="reset" class="button-color-red text-white mx-1"
                        (click)="resetForm();"><i class="fa-solid fa-arrow-rotate-right"></i>
                        {{ 'COMMON.RESET' | translate }}
                    </button>

                </div>

            </form>

            <div>

                <app-table class="table-css" [tableData]="tableData" (editOrDeleteEvent)="editOrDeleteEvent($event)" [showButtons]="false">
                </app-table>
            </div>

        </div>

    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end py-1">

        <button id="save"  mat-raised-button type="submit"
            class="button-color-bule mx-3 text-white" (click)="save()"><i class="fa-solid fa-floppy-disk"></i>
            {{ 'COMMON.SAVE' | translate }}
        </button>
        <button id="back" mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
            {{ 'COMMON.BACK' | translate }}
        </button>
        <button id="reset" [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="reset();"><i class="fa-solid fa-arrow-rotate-right"></i>
            {{ 'COMMON.RESET' | translate }}
        </button>
        <!-- <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="return();">
            {{ 'COMMON.RETURN' | translate }}
        </button> -->

    </mat-card-content>

</mat-card>