
::ng-deep .multiselect-dropdown-list {
  width: 20%;
      margin: 24.5px 7px 15px 0px;
  ng-multiselect-dropdown {
    .multiselect-dropdown {
      .dropdown-btn {
        border: none !important;
        border-bottom: 1px solid #adadad !important;
        border-radius: 0px !important;
        .selected-item {
          border: none !important;
          background: none !important;
          color: rgba(0,0,0,.87) !important;
        }
        .selected-item:hover {
          box-shadow: none !important;
        }
      }
    }
  }
}