<div>

    <form [formGroup]="modelFormData" class="card p-2 mb-3" autocomplete="off">

        <mat-card class="mb-3">

            <div class="d--flex p-1 mat-form-field-height">


                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.dateOfDeadline'"></mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="{{'CAPAdetails.dateOfDeadline' | translate }}"
                        formControlName="deadlineMonitorDate" appFocusOnEnter tabIndex="1">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.notificationNo'"></mat-label>
                    <input matInput formControlName="notificationNo"
                        placeholder="{{'CAPAdetails.notificationNo' | translate }}" appFocusOnEnter tabIndex="2">
                </mat-form-field>



                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.notificationDate'"></mat-label>
                    <input matInput [matDatepicker]="picker2"
                        placeholder="{{'CAPAdetails.notificationDate' | translate }}" formControlName="notificationDate"
                        appFocusOnEnter tabIndex="1">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'CAPAdetails.itemCode'"></mat-label>
                    <input matInput formControlName="itemCode" placeholder="{{'CAPAdetails.itemCode' | translate }}"
                        appFocusOnEnter tabIndex="4">
                </mat-form-field>


                <mat-form-field class="form-element">
                    <mat-label [translate]="'CAPAdetails.complaintQty'"></mat-label>
                    <input matInput formControlName="complaintQty"
                        placeholder="{{'CAPAdetails.complaintQty' | translate }}" appFocusOnEnter tabIndex="6">
                </mat-form-field>


                <mat-form-field class="form-element">
                    <mat-label [translate]="'CAPAdetails.tag'"></mat-label>
                    <input matInput formControlName="tag" placeholder="{{'CAPAdetails.tag' | translate }}"
                        appFocusOnEnter tabIndex="7">
                </mat-form-field>


                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.receivedPartsDate'"></mat-label>
                    <input matInput placeholder="{{'CAPAdetails.receivedPartsDate' | translate }}"
                        [matDatepicker]="picker3" formControlName="receivedPartsDate" appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.analysisBugunDate'"></mat-label>
                    <input matInput [matDatepicker]="picker4"
                        placeholder="{{'CAPAdetails.analysisBugunDate' | translate }}"
                        formControlName="analysisBugunDate" appFocusOnEnter tabIndex="11">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.defectCauseAcknowledgeDate'"></mat-label>
                    <input matInput [matDatepicker]="picker5"
                        placeholder="{{'CAPAdetails.defectCauseAcknowledgeDate' | translate }}"
                        formControlName="defectCauseAcknowledgeDate" appFocusOnEnter tabIndex="13">
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.shortTermSolDate'"></mat-label>
                    <input matInput [matDatepicker]="picker6"
                        placeholder="{{'CAPAdetails.shortTermSolDate' | translate }}" formControlName="shortTermSolDate"
                        appFocusOnEnter tabIndex="13">
                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.longTermSolDate'"></mat-label>
                    <input matInput [matDatepicker]="picker7"
                        placeholder="{{'CAPAdetails.longTermSolDate' | translate }}" formControlName="longTermSolDate"
                        appFocusOnEnter tabIndex="15">
                    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.containmentReqdDate'"></mat-label>
                    <input matInput [matDatepicker]="picker8"
                        placeholder="{{'CAPAdetails.containmentReqdDate' | translate }}"
                        formControlName="containmentReqdDate" appFocusOnEnter tabIndex="17">
                    <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                    <mat-datepicker #picker8></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label [translate]="'CAPAdetails.solutionInspectedDate'"></mat-label>
                    <input matInput [matDatepicker]="picker9"
                        placeholder="{{'CAPAdetails.solutionInspectedDate' | translate }}"
                        formControlName="solutionInspectedDate" appFocusOnEnter tabIndex="19">
                    <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                    <mat-datepicker #picker9></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'CAPAdetails.decfectDescription'"></mat-label>
                    <input matInput placeholder="{{'CAPAdetails.decfectDescription' | translate }}"
                        formControlName="decfectDescription" appFocusOnEnter tabIndex="20">
                </mat-form-field>




            </div>
        </mat-card>

        <mat-card>


            <div class="d-flex">
                <div class="d-flex">
                    <div class="min-width">
                        <b> {{'CAPAdetails.defectCasuse' | translate }}: </b>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-form-field class="form-element">
                            <input matInput formControlName="defectCasuse" appFocusOnEnter tabIndex="25">
                        </mat-form-field>
                        <div>
                            <mat-form-field class="form-element">
                                <input matInput formControlName="defectCasuseResp" appFocusOnEnter tabIndex="26">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker10" formControlName="defectCasuseDate"
                                    appFocusOnEnter tabIndex="27">
                                <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                                <mat-datepicker #picker10></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="min-width">
                        <b> {{'CAPAdetails.shortTermSolution' | translate }}: </b>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-form-field class="form-element">
                            <input matInput formControlName="shortTermSolution" appFocusOnEnter tabIndex="25">
                        </mat-form-field>
                        <div>
                            <mat-form-field class="form-element">
                                <input matInput formControlName="shortTermSolutionResp" appFocusOnEnter tabIndex="26">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker11" formControlName="shortTermSolutionDate"
                                    appFocusOnEnter tabIndex="27">
                                <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                                <mat-datepicker #picker11></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="d-flex">
                    <div class="min-width">
                        <b> {{'CAPAdetails.longTermSolution' | translate }}: </b>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-form-field class="form-element">
                            <input matInput formControlName="longTermSolution" appFocusOnEnter tabIndex="25">
                        </mat-form-field>
                        <div>
                            <mat-form-field class="form-element">
                                <input matInput formControlName="longTermSolutionResp" appFocusOnEnter tabIndex="26">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker12" formControlName="longTermSolutionDate"
                                    appFocusOnEnter tabIndex="27">
                                <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                                <mat-datepicker #picker12></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="min-width">
                        <b> {{'CAPAdetails.identificationOfDelvrdMaterial' | translate }}: </b>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-form-field class="form-element">
                            <input matInput formControlName="identificationOfDelvrdMaterial" appFocusOnEnter
                                tabIndex="25">
                        </mat-form-field>
                        <div>
                            <mat-form-field class="form-element">
                                <input matInput formControlName="identificationOfDelvrdMaterialResp" appFocusOnEnter
                                    tabIndex="26">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker13"
                                    formControlName="identificationOfDelvrdMaterialDate" appFocusOnEnter tabIndex="27">
                                <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                                <mat-datepicker #picker13></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="d-flex">
                    <div class="min-width">
                        <b> {{'CAPAdetails.checkSuccessDelrdMaterail' | translate }}: </b>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-form-field class="form-element">
                            <input matInput formControlName="checkSuccessDelrdMaterail" appFocusOnEnter tabIndex="25">
                        </mat-form-field>
                        <div>
                            <mat-form-field class="form-element">
                                <input matInput formControlName="checkSuccessDelrdMaterailResp" appFocusOnEnter
                                    tabIndex="26">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker14"
                                    formControlName="checkSuccessDelrdMaterailDate" appFocusOnEnter tabIndex="27">
                                <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                                <mat-datepicker #picker14></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="min-width">
                        <b> {{'CAPAdetails.containmentAccess' | translate }}: </b>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-form-field class="form-element">
                            <input matInput formControlName="containmentAccess" appFocusOnEnter tabIndex="25">
                        </mat-form-field>
                        <div>
                            <mat-form-field class="form-element">
                                <input matInput formControlName="containmentAccessResp" appFocusOnEnter tabIndex="26">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker15" formControlName="containmentAccessDate"
                                    appFocusOnEnter tabIndex="27">
                                <mat-datepicker-toggle matSuffix [for]="picker15"></mat-datepicker-toggle>
                                <mat-datepicker #picker15></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="d-flex">
                    <div class="min-width">
                        <b> {{'CAPAdetails.custVerification' | translate }}: </b>
                    </div>
                    <div class="d-flex flex-column">
                        <mat-form-field class="form-element">
                            <input matInput formControlName="custVerification" appFocusOnEnter tabIndex="25">
                        </mat-form-field>
                        <div>
                            <mat-form-field class="form-element">
                                <input matInput formControlName="custVerificationResp" appFocusOnEnter tabIndex="26">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker16" formControlName="custVerificationDate"
                                    appFocusOnEnter tabIndex="27">
                                <mat-datepicker-toggle matSuffix [for]="picker16"></mat-datepicker-toggle>
                                <mat-datepicker #picker16></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card>

    </form>



</div>

<div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mr-1" (click)="cancel()">

        {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" (click)="save()">

        {{ 'COMMON.SAVE' | translate }}
    </button>
</div>