<mat-card>
    <mat-card-content class="my-2">
        <form [formGroup]="modelFormData" autocomplete="off">
            <div class="d-flex my-3 py-3">

                <mat-form-field>
                    <mat-label [translate]="'COMMON.COMPANYCODE'"></mat-label>
                    <mat-select formControlName="companyCode" appFocusOnEnter tabIndex="11" >
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="!modelFormData.controls.companyCode.valid && modelFormData.controls.companyCode.status != 'DISABLED'"
                        [ngClass]="{ 'ng--invalid': !modelFormData.controls.companyCode.valid  }"> This feild is
                        required
                    </mat-error>
                </mat-form-field>


                <div class="p-2 range-picker" *ngIf="routeParam != 'stockvaluation' && routeParam != 'pendingpurchaseorders' && routeParam != 'pendingsales' && routeParam != 'pendingjobworkreport' ">
                    <input type="text" ngxDaterangepickerMd startKey="start"
                        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" endKey="end" placeholder="Choose date"
                        formControlName="selected" class="form-control" />
                    <div class="error_text mt-0" *ngIf="(modelFormData.controls.selected.dirty && modelFormData.controls.selected.touched && modelFormData.controls.selected.errors) ||
                                                              (submitted && modelFormData.controls.selected.errors)">
                        <div class="error_text mt-0" *ngIf="modelFormData.controls.selected.errors.required">
                            This feild is required
                        </div>
                    </div>
                </div>

                <div class="p-2 my-3 ms-5">
                    <button mat-raised-button class="button-color-bule text-white mx-2" (click)="search()">
                        {{ "COMMON.PRINT" | translate }}
                    </button>
                    <button mat-raised-button class="button-color-bule text-white mx-2" (click)="reset()">
                        {{ "COMMON.RESET" | translate }}
                    </button>
                </div>

            </div>

        </form>


    </mat-card-content>

    <mat-card-content>

        <div  class="row">
            <div class="col-6">
                <app-table [tableData]="tableData" ></app-table>
            </div>
            <div class="col-6">
                <ng-container *ngIf="chartOptions">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
                </ng-container>
            </div>
        </div>
        
    </mat-card-content>

</mat-card>