<div class="position-relative popup-class">
    <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
        <span> {{'dispatchdetails.title' | translate }} </span>
        <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
    </mat-card-title>
    <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
        <form [formGroup]="modelFormData" autocomplete="off">

            <div class="d--flex">

                <div class="multiselect-dropdown-list mx-3" >
                    <ng-multiselect-dropdown placeholder="{{ 'dispatchdetails.saleOrder' | translate }}"
                      formControlName="saleOrder" (onSelect)="getInvoiceListApi()" [settings]="dropdownSettings" [data]="getInvoiceList">
                    </ng-multiselect-dropdown>
                  </div>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'dispatchdetails.invoiceNumber'"></mat-label>
                    <mat-select formControlName="invoiceNumber" appFocusOnEnter tabIndex="2"
                        (selectionChange)="invoiceNoDetail()">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let invoice of getInvoiceListData" [value]="invoice.invoiceNo">
                            {{invoice.invoiceNo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'dispatchdetails.poNumber'"></mat-label>
                    <input matInput readonly formControlName="poNumber" appFocusOnEnter tabIndex="3">
                </mat-form-field>


                <mat-form-field class="form-element">
                    <mat-label [translate]="'dispatchdetails.lrNumber'"></mat-label>
                    <input matInput formControlName="lrNumber" appFocusOnEnter tabIndex="4">
                </mat-form-field>

                <mat-form-field>
                    <mat-label [translate]="'dispatchdetails.lrDate'"></mat-label>
                    <input matInput [matDatepicker]="picker" tabIndex="5" formControlName="lrDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'dispatchdetails.transporter'"></mat-label>
                    <input matInput formControlName="transporter" appFocusOnEnter tabIndex="6">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'dispatchdetails.boxes'"></mat-label>
                    <input matInput type="number" formControlName="boxes" appFocusOnEnter tabIndex="7">
                </mat-form-field>

                <div>
                    <app-file-upload [type]="'card'" [oldFileList]="modelFormData.value.imageURL"
                        (uploadFile)="downLoad()" (emitFilesList)="emitFilesList($event)"></app-file-upload>
                </div>

            </div>

            <mat-divider></mat-divider>

            <div class="form-element p-2 d-flex justify-content-end">

                <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">
                    {{ 'COMMON.CANCEL' | translate }}
                </button>
                <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()"
                    appFocusOnEnter tabIndex="5">
                    {{ 'COMMON.SAVE' | translate }}
                </button>

            </div>

        </form>

    </mat-card-content>
</div>