mat-form-field {
  margin: 5px;
  flex: 0 0 15.75%;
}
  ::ng-deep .table-css {
  .table {
    min-height: 4vh !important;
  }
}

    .mat-mdc-form-field {
    margin: 5px;
    flex: 0 0 16%;
  }

  ::ng-deep .multiselect-dropdown-list {
    width: 16%;
    margin: 20px;
    ng-multiselect-dropdown {
      .multiselect-dropdown {
        .dropdown-btn {
          border: none !important;
          border-bottom: 1px solid #adadad !important;
          border-radius: 0px !important;
          .selected-item {
            border: none !important;
            background: none !important;
            color: rgba(0,0,0,.87) !important;
          }
          .selected-item:hover {
            box-shadow: none !important;
          }
        }
      }
    }
  }