<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div style="margin: 10px;" *ngIf="invoicePrintData" id="invoicePrintData">
    <div style="display: flex;">
        <img *ngIf="invoicePrintData?.headingObj?.company === '1000'" 
        src="/assets/images/header.jpg" 
        style="height: 100px; width: 65%;">
  
   <!-- Display this image if the companyName is not 'AMT POWER TRANSMISSION' -->
   <img *ngIf="invoicePrintData?.headingObj?.company !== '1000'" 
        src="/assets/images/AMRIT.jpg" 
        style="height: 100px; width: 65%;">
        <!-- <img src="/assets/images/header.jpg" style="height: 100px;
        width: 65%;"> -->
        <div style="padding: 24px;
        border-top: 1px solid black;
        -webkit-print-color-adjust: exact;
        background: rgb(22 106 132) !important;
        color: white;
        font-size: 20px;
        width: 35%;
        align-items: center;
        justify-content: space-around;
        display: flex;
        height: 50px;
        flex-direction: column;
    ">
            <span style="font-size: 25px;font-weight: 700;font-family: sans-serif;"> INVOICE </span> <br> <span
                style="font-size: 15px;font-family: sans-serif;margin-bottom: 5px;"> ORIGINAL F0R RECEIPENT</span>
        </div>
    </div>

    <div style="display: flex;">
        <div style="width: 60%;border-right: 1px solid;">
            <div style="width: 100%;padding-left: 15px;display: flex;">
                <div><b style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> Reverse Charge </b></div>
                <div style="padding-left: 18px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">
                    : {{ invoicePrintData?.headingObj?.reverseCharge }} </div>
            </div>
            <div style="width: 100%;display: flex;">
                <div style="width: 50%;padding-left: 15px;display: flex;">
                    <div><b style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> Invoice No</b></div>
                    <div
                        style="padding-left: 49px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">
                        : {{ invoicePrintData?.headingObj?.invoiceNo }} </div>
                </div>
                <div style="width: 50%;padding-left: 15px;display: flex;">
                    <div><b style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> PO No </b></div>
                    <div
                        style="padding-left: 15px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">
                        : {{ invoicePrintData?.headingObj?.poNo }} </div>
                </div>
            </div>
            <div style="width: 100%;display: flex;border-right: 1px solid;">
                <div style="width: 50%;padding-left: 15px;display: flex;">
                    <div><b style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> Invoice Date</b></div>
                    <div
                        style="padding-left: 38px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">
                        : {{ invoicePrintData?.headingObj?.invoiceDate ? (invoicePrintData?.headingObj?.invoiceDate |
                        date) : '' }} </div>
                </div>
                <div style="width: 50%;padding-left: 15px;display: flex;">
                    <div><b style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> PO Date </b></div>
                    <div
                        style="padding-left: 4px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">
                        : {{ invoicePrintData?.headingObj?.poDate ? (invoicePrintData?.headingObj?.poDate | date) : ''
                        }} </div>
                </div>
            </div>
            <div style="width: 100%;padding-left: 15px;display: flex;">
                <div><b style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> State </b></div>
                <div style="padding-left: 83px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">
                    : {{ invoicePrintData?.headingObj?.shiptoState }} </div>
            </div>
        </div>
        <div style="width: 40%;padding-left: 15px;">
            <div style="width: 100%;padding-left: 15px;display: flex;">
                <div><b style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> Transportation Mode </b></div>
                <div style="padding-left: 8px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">:
                    {{ invoicePrintData?.headingObj?.transportationMode }}</div>
            </div>
            <div style="width: 100%;display: flex;">
                <div style="width: 100px;padding-left: 15px;"><b
                        style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> Vehicle Number </b></div>
                <div style="padding-left: 36px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">
                    : {{ invoicePrintData?.headingObj?.vehicleRegNo }} </div>
            </div>
            <div style="width: 100%;display: flex;">
                <div style="width: 100px;padding-left: 15px;"><b
                        style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> Date of Supply </b></div>
                <div style="padding-left: 36px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">
                    : {{ invoicePrintData?.headingObj?.dateOfSupply ? (invoicePrintData?.headingObj?.dateOfSupply |
                    date) : '' }} </div>
            </div>
            <div style="width: 100%;padding-left: 15px;display: flex;">
                <div><b style="font-size: 14px;font-family: sans-serif;font-weight: 700;"> Place of Supply </b></div>
                <div style="padding-left: 44px;font-size: 12px;font-family: sans-serif;align-items: center;display: flex;">
                    : {{ invoicePrintData?.headingObj?.shiptoCity }} </div>
            </div>
        </div>
    </div>


    <div style="border-top: 1px solid black; display: flex;text-align: center;">
        <div style="width: 50%;padding-left: 15px;border-right: 1px solid black;">
            <b style="font-size: 12px;font-family: sans-serif;font-weight: 700;"> Details of Receiver Billed to: </b>
        </div>
        <div style="width: 50%;padding-left: 15px;">
            <b style="font-size: 12px;font-family: sans-serif;font-weight: 700;"> Details of Receiver Shipped to: </b>
        </div>
    </div>

    <div style="border-top: 1px solid black; display: flex; ">
        <div
            style="width: 50%;padding-left: 15px;border-right: 1px solid black;padding-top: 10px;padding-bottom: 10px;">
            <div style="font-size: 12px;font-family: sans-serif;font-weight: 700;">{{
                invoicePrintData?.vAddress?.custName }}</div>
            <div style="font-size: 12px;font-family: sans-serif;">{{ invoicePrintData?.vAddress?.address }}, {{
                invoicePrintData?.vAddress?.address1 }}</div>
            <div style="font-size: 12px;font-family: sans-serif;">{{ invoicePrintData?.vAddress?.city }}, {{
                invoicePrintData?.vAddress?.stateName }}, {{
                invoicePrintData?.vAddress?.pin }}</div>
            <b style="margin-top: 10px;font-size: 12px;font-family: sans-serif;font-weight: 700;"> GSTIN : {{
                invoicePrintData?.vAddress?.gstno }}</b>
        </div>
        <div style="width: 50%;padding-left: 15px;padding-top: 10px;padding-bottom: 10px;">
            <div style="font-size: 12px;font-family: sans-serif;font-weight: 700;">{{
                invoicePrintData?.pAddress?.custName }}</div>
            <div style="font-size: 12px;font-family: sans-serif;">{{ invoicePrintData?.pAddress?.address }}, {{
                invoicePrintData?.pAddress?.address1 }}</div>
            <div style="font-size: 12px;font-family: sans-serif;">{{ invoicePrintData?.pAddress?.city }}, {{
                invoicePrintData?.pAddress?.stateName }}, {{
                invoicePrintData?.pAddress?.pin }}</div>
            <b style="margin-top: 10px;font-size: 12px;font-family: sans-serif;font-weight: 700;"> GSTIN : {{
                invoicePrintData?.pAddress?.gstno }}</b>
        </div>
    </div>

    <div style="border-top: 1px solid black;-webkit-print-color-adjust: exact;">
        <table
            style="border-collapse: collapse;width: 100%;text-align: center; font-size: 14px;-webkit-print-color-adjust: exact;">
            <thead>
                <tr>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                        rowspan="2"> S.No </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                        rowspan="2"> Material Code </th>
                     <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                            rowspan="2"> Material Description </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                        rowspan="2"> HSN ACS </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                        rowspan="2"> UOM </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                        rowspan="2"> Qty </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                        rowspan="2"> Rate </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                        rowspan="2"> Amount </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                        rowspan="2"> Less Discount </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;"
                        rowspan="2"> Taxible Value </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;font-weight: 700;"
                        colspan="2"> CGST </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;font-weight: 700;"
                        colspan="2"> SGST </th>
                    <th style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;font-weight: 700;"
                        colspan="2"> IGST </th>
                    <th style="border-bottom: 1px solid black; -webkit-print-color-adjust: exact;"> Total </th>
                </tr>

                <tr>
                    <th
                        style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;">
                        Rate </th>
                    <th
                        style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;">
                        Amount </th>
                    <th
                        style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;">
                        Rate </th>
                    <th
                        style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;">
                        Amount </th>
                    <th
                        style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;">
                        Rate </th>
                    <th
                        style="border-bottom: 1px solid black;border-right: 1px solid black; -webkit-print-color-adjust: exact; font-size: 12px;font-family: sans-serif;font-weight: normal;">
                        Amount </th>
                </tr>

            </thead>
            <tbody>
                <tr style="border-top: 1px solid black;-webkit-print-color-adjust: exact;"
                    *ngFor="let row of invoicePrintData.detailArray; let i = index">
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ i + 1 }} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.materialCode }}
                    </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.materialName }}
                    </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.hsnNo }}
                    </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.materialName ? 'NOS' : ''}} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.qty }}
                    </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        <ng-container *ngIf="row.qty"> {{
                            row.rate}} </ng-container> </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.grossAmount }} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.discount }} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.grossAmount }} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.cgstCode }} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.cgst }} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.sgstCode }} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.sgst }} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.igstCode }} </td>
                    <td
                        style="border-bottom: 1px solid black;border-right: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.igst }} </td>

                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                        {{ row.materialName ? (row.grossAmount + row.cgst + row.sgst + row.igst).toFixed(2) : '' }} </td>
                </tr>
                <tr
                    style="border-top: 1px solid black; text-align: start;font-weight: bold;-webkit-print-color-adjust: exact;">
                    <td style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;text-align: end;font-size: 12px;font-family: sans-serif;font-weight: 700;"
                        colspan="2"> Totals </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                    </td>
                     <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                    </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                    </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;text-align: end;">
                        {{ invoicePrintData.totalObj.qty }} </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                    </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                    </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                    </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;text-align: end;">
                        {{ (invoicePrintData.totalObj.grossAmount).toFixed(2) }} </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                    </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;text-align: end;">
                        {{ (invoicePrintData.totalObj.cgst).toFixed(2) }} </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                    </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;text-align: end;">
                        {{ (invoicePrintData.totalObj.sgst).toFixed(2) }} </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;">
                    </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;text-align: end;">
                        {{ (invoicePrintData.totalObj.igst).toFixed(2) }} </td>
                    <td
                        style="border-bottom: 1px solid black;-webkit-print-color-adjust: exact;font-size: 12px;font-family: sans-serif;text-align: end;">
                        {{ (invoicePrintData.totalObj.total).toFixed(2) }} </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div style="min-height: 20px;"></div>

    <div style="display: flex; font-size: 15px;border-bottom: 1px solid;">
        <div
            style="width: 50%;padding-left: 15px;padding-top: 10px;padding-bottom: 10px;font-size: 12px;font-family: sans-serif;font-weight: 700;border-right: 1px solid;">
            <b> Total amount in words: </b>
            <div> {{ commonService.convertNumberToWords(invoicePrintData.totalObj?.total) }} </div>
        </div>
        <div style="width: 50%;font-size: 12px;font-family: sans-serif;">
            <div style="">
                <div style="display: flex;justify-content: space-between;">
                    <b style="width: 300px;padding-left: 5px;"> Total Amount Before Tax </b>
                    <span style="padding-left: 80px;"> {{ invoicePrintData.headingObj?.totalAmount }} </span>
                </div>
                <div style="border-top: 1px solid black;display: flex;justify-content: space-between;">
                    <b style="width: 300px;padding-left: 5px;"> Transportation Charges </b>
                    <span style="padding-left: 80px;"> </span>
                </div>


                <div style="border-top: 1px solid black;display: flex;justify-content: space-between;">
                    <b style="width: 300px;padding-left: 5px;"> Add CGST </b>
                    <span style="padding-left: 80px;"> {{ invoicePrintData.headingObj?.totalCgst || '0.0'}} </span>
                </div>
                <div style="border-top: 1px solid black;display: flex;justify-content: space-between;">
                    <b style="width: 300px;padding-left: 5px;"> Add SGST </b>
                    <span style="padding-left: 80px;"> {{ invoicePrintData.headingObj?.totalSGST || '0.0' }} </span>
                </div>

            </div>
        </div>
    </div>
    <div style="display: flex; font-size: 15px;">
        <div style="width: 50%;padding-left: 15px;padding-top: 3px;padding-bottom: 3px;border-right: 1px solid;">
            <b style="font-size: 12px;font-family: sans-serif;font-weight: 700;"> Bank Details: </b>
            <div style="font-size: 12px;font-family: sans-serif;"> Bank Account Number : </div>
            <div style="font-size: 12px;font-family: sans-serif;"> Bank Branch and IFSC Code : </div>
        </div>
        <div style="width: 50%;font-size: 12px;font-family: sans-serif;">
            <div style="">
                <div style="display: flex;justify-content: space-between;">
                    <b style="width: 300px;padding-left: 5px;"> Add IGST </b>
                    <span style="padding-left: 80px;"> {{ invoicePrintData.headingObj?.totalIGST || '0.0'}} </span>
                </div>
                <div style="border-top: 1px solid black;display: flex;justify-content: space-between;">
                    <b style="width: 300px;padding-left: 5px;"> Total tax amount </b>
                    <span style="padding-left: 80px;"> {{ invoicePrintData.headingObj?.totalTax }} </span>
                </div>
                <div style="border-top: 1px solid black;display: flex;justify-content: space-between;">
                    <b style="width: 300px;padding-left: 5px;"> Total amount after GST + Transportation </b>
                    <span style="padding-left: 80px;"> {{ invoicePrintData.headingObj?.grandTotal }} </span>
                </div>
            </div>
        </div>
    </div>




    <div style="border-top: 1px solid black; display: flex;">
        <div style="width: 40%;padding-left: 15px;border-right: 1px solid black;">
            <b style="font-size: 12px;font-family: sans-serif;font-weight: 700;"> Terms & Conditions: </b>
        </div>
        <div style="width: 20%;padding-left: 15px;border-right: 1px solid black;">
            <b> </b>
        </div>
        <div style="width: 40%;">
            <b style="font-size: 12px;font-family: sans-serif;font-weight: 700;padding: 5px 0px 10px 2px;"> GST Payable on
                reverse charges </b>
        </div>
    </div>



    <div style="border-top: 1px solid black;border-bottom: 1px solid black; display: flex;">
        <div style="width: 40%;padding-left: 15px;border-right: 1px solid black;">

        </div>
        <div style="width: 20%;padding-left: 15px;border-right: 1px solid black;">


        </div>
        <div style="width: 40%;font-size: 12px;font-family: sans-serif;">
            <div style="border-bottom: 1px solid black;padding: 5px 0px 10px 2px;">Certified that the particulars given
                above are true and correct</div>
            <div *ngIf="data?.headingObj?.company === '1000'" style="font-size: 12px;font-family: sans-serif;font-weight: 700;text-align: center;padding-top: 5px;">For
                AMT Power Transmission</div>
            <div *ngIf="data?.headingObj?.company !== '1000'" style="font-size: 12px;font-family: sans-serif;font-weight: 700;text-align: center;padding-top: 5px;">For
                AMRIT STONE CRUSHER EQUIPMENTS</div>
            <div style="text-align: center;padding: 30px 10px 6px 10px">Authorised Signatory</div>
        </div>
    </div>

</div>

<mat-card>

    <mat-card-content>

        <form [formGroup]="formData" autocomplete="off" *ngIf="formData">

            <h6 id="background">
                Material Header
                
            </h6>

            <div id="form" class="d--flex p-1 mat-form-field-height">

                <div >
                    <mat-form-field class="form-element">
                        <mat-label>{{ 'salesinvoice.company' | translate }}</mat-label>
                        <mat-select formControlName="company" appFocusOnEnter tabIndex="1">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                                {{comp.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>{{'salesinvoice.profitCenter' | translate }}</mat-label>
                        <mat-select formControlName="profitCenter" appFocusOnEnter tabIndex="2">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let pft of profitCenterList" [value]="pft.id">
                                {{pft.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- <mat-form-field class="form-element">
                    <mat-label>{{ 'salesinvoice.manualInvoiceNo' | translate }}</mat-label>
                    <mat-select formControlName="saleOrderNo" (selectionChange)="getsaleOrdernoList()" appFocusOnEnter
                        tabIndex="3">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let poNo of getSaleOrderData" [value]="poNo.saleOrderNo">
                            {{poNo.saleOrderNo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <div class="multiselect-dropdown-list" *ngIf="!routeEdit">
                    <ng-multiselect-dropdown placeholder="{{ 'salesinvoice.manualInvoiceNo' | translate }}"
                        formControlName="saleOrderNo" (onSelect)="getsaleOrdernoList()"
                        [settings]="dropdownSettings" [data]="getSaleOrderData">
                    </ng-multiselect-dropdown>
                </div>
                <mat-form-field *ngIf="routeEdit">
                    <mat-label>{{'salesinvoice.manualInvoiceNo' | translate }}</mat-label>
                    <input matInput type="text" readonly formControlName="saleOrderNo" appFocusOnEnter tabIndex="4">
                </mat-form-field>



                <div>
                    <mat-form-field class="form-element">
                        <mat-label [translate]="'salesinvoice.invoiceDate'"></mat-label>
                        <input matInput [matDatepicker]="picker" [nonEditable]="picker" formControlName="invoiceDate"
                            appFocusOnEnter tabIndex="3">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- <mat-form-field class="form-element">
                    <mat-label>{{ 'salesinvoice.customerName' | translate }}</mat-label>
                    <mat-select formControlName="customerName" (selectionChange)="customerNameSelect()" appFocusOnEnter
                        tabIndex="3">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of customerList" [value]="comp.id">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->


                <div>
                    <mat-form-field class="form-element">
                        <mat-label [translate]="'salesinvoice.customerName'"></mat-label>
                        <input matInput type="text" readonly formControlName="customerCode" appFocusOnEnter tabIndex="6">
                    </mat-form-field>
                </div>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'salesinvoice.customerGstin'"></mat-label>
                    <input matInput type="text" readonly formControlName="customerGstin" appFocusOnEnter tabIndex="6">
                </mat-form-field>

                
                <div class="multiselect-dropdown-list">
                    <ng-multiselect-dropdown placeholder="{{ 'salesinvoice.shiptoCompany' | translate }}"
                        formControlName="shiptoCompany" (onSelect)="getshiptoCompanyList()"
                        [settings]="dropdownSettings1" [data]="customerList">
                    </ng-multiselect-dropdown>
                </div>

                <div>
                    <mat-form-field class="form-element">
                        <mat-label [translate]="'salesinvoice.shiptoAddress2'"></mat-label>
                        <input matInput formControlName="shiptoAddress2" appFocusOnEnter tabIndex="37">
                    </mat-form-field>
                </div>

                
                <div>
                    <mat-form-field class="form-element">
                        <mat-label [translate]="'salesinvoice.shiptoState'"></mat-label>
                        <input matInput formControlName="shiptoState" appFocusOnEnter tabIndex="37">
                    </mat-form-field>
                </div>


                <div>
                    <mat-form-field class="form-element">
                        <mat-label [translate]="'salesinvoice.shiptoCity'"></mat-label>
                        <input matInput formControlName="shiptoCity" appFocusOnEnter tabIndex="37">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="form-element">
                        <mat-label [translate]="'salesinvoice.shiptoZip'"></mat-label>
                        <input matInput formControlName="shiptoZip" appFocusOnEnter tabIndex="37">
                    </mat-form-field>
                </div>


                <div>
                    <mat-form-field class="form-element">
                        <mat-label [translate]="'salesinvoice.shiptoPhone'"></mat-label>
                        <input matInput formControlName="shiptoPhone" appFocusOnEnter tabIndex="38">
                    </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field class="form-element">
                        <mat-label [translate]="'salesinvoice.transportCharges'"></mat-label>
                        <input matInput formControlName="transportCharges" (focusout)="onFocusOutEvent($event)" appFocusOnEnter tabIndex="39">
                    </mat-form-field>
                </div>



            </div>

        </form>

        <div class="p-2 card">

            <h6 id="background">
                Material Details
                
            </h6>

            <!-- <form [formGroup]="formData1" autocomplete="off">



                <div class="d--flex p-1 mat-form-field-height justify-content-between align-items-end">

                    <div>

                        <mat-form-field class="form-element">
                            <mat-label>{{ 'salesinvoice.materialCode' | translate }}</mat-label>
                            <mat-select formControlName="materialCode" appFocusOnEnter tabIndex="12"
                                (selectionChange)="materialCodeChange()">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let material of materialCodeList" [value]="material.materialCode">
                                    {{material.materialCode}} -- {{material.materialName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <mat-label [translate]="'salesinvoice.netWeight'"></mat-label>
                            <input matInput readonly type="text" formControlName="netWeight" appFocusOnEnter
                                tabIndex="13">
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <mat-label [translate]="'salesinvoice.qty'"></mat-label>
                            <input matInput type="text" formControlName="qty" appFocusOnEnter tabIndex="14">
                        </mat-form-field>
                    </div>


                    <div class="mb-3">

                        <button mat-raised-button type="submit" class="button-color-bule mx-1 text-white"
                            (click)="saveForm()">
                            {{ 'COMMON.ADD' | translate }}
                        </button>
                        <button mat-raised-button class="button-color-red text-white mx-1" (click)="resetForm();">
                            {{ 'COMMON.RESET' | translate }}
                        </button>

                    </div>


                </div>

            </form> -->

            <div>
                <app-table class="table-css" [tableData]="tableData" [showButtons]="false"
                    (editOrDeleteEvent)="editOrDeleteEvent($event)" (tableCheckboxEvent)="tableCheckboxEvent($event)">
                </app-table>
            </div>
        </div>

    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end py-1">

        <div class="d-flex">
            <div class="px-1"> <span class="px-1"> <b>{{ 'saleorder.igst' | translate }} </b></span> :
                <b class="text-danger">{{ formData.value.totalIGST }} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.cgst' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalCGST}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.sgst' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalSGST}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.amount' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalAmount}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.totalTax' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalTax}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'salesinvoice.totalDiscount' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalDiscount}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.totalAmount' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.grandTotal}} </b>
            </div>
        </div>

        <div>


            <button mat-raised-button type="submit" *ngIf="routeEdit" class="button-color-bule mx-3 text-white"
                (click)="invoicePrint()">
                {{ 'salesinvoice.invoicePrint' | translate }}
            </button>
            <button id="save" mat-raised-button type="submit" class="button-color-bule mx-3 text-white"  color="primary" (click)="save()"><i class="fa-solid fa-floppy-disk"></i>
                {{ 'COMMON.SAVE' | translate }}
            </button>
            <button id="back" mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
                {{ 'COMMON.BACK' | translate }}
            </button>
            <button id="reset" [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3"
                (click)="reset();"><i class="fa-solid fa-arrow-rotate-right"></i>
                {{ 'COMMON.RESET' | translate }}
            </button>

        </div>

    </mat-card-content>

</mat-card>