mat-form-field {
  margin: 5px;
  flex: 0 0 15.75%;
}
  ::ng-deep .table-css {
  .table {
    min-height: 4vh !important;
  }
}

    .mat-mdc-form-field {
    margin: 5px;
    flex: 0 0 16%;
    
  }

  ::ng-deep .multiselect-dropdown-list {
    width: 16%;
    margin: 20px;
    ng-multiselect-dropdown {
      .multiselect-dropdown {
        .dropdown-btn {
          border: none !important;
          border-bottom: 1px solid #adadad !important;
          border-radius: 0px !important;
          .selected-item {
            border: none !important;
            background: none !important;
            color: rgba(0,0,0,.87) !important;
          }
          .selected-item:hover {
            box-shadow: none !important;
          }
        }
      }
    }
  }

  

  #save:hover{
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.1) !important;
  }

  #back:hover{
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.1);
  }

  #form {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 25px; 
    justify-content:flex-start;
  }
  
  #form > div {
    width: 100%; 
  }
  
 
  @media screen and (max-width: 992px) {
    #form {
        grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  @media screen and (max-width: 768px) {
    #form {
        grid-template-columns: repeat(2, 1fr);
    }
  }
