<mat-card class="test">

    <mat-card-content id="mat">

        <form [formGroup]="formData" class="card p-2 mb-3" autocomplete="off">

            <div id="form" class="row p-1 mat-form-field-height">

                <div class="mat-mdc-form-field typeahead col-4">
                    <input placeholder="{{ 'swaporder.fromSaleOrder' | translate }}" formControlName="fromSaleOrder"
                        [typeahead]="saleOrders" typeaheadOptionField='saleOrderNo' appFocusOnEnter tabIndex="1"
                        class="form-control typeahead w-100">
                </div>


                <div class="mat-mdc-form-field typeahead col-4">
                    <input placeholder="{{ 'swaporder.toSaleOrder' | translate }}" formControlName="toSaleOrder"
                        [typeahead]="saleOrders" typeaheadOptionField='saleOrderNo' appFocusOnEnter tabIndex="2"
                        class="form-control typeahead w-100">
                </div>

            </div>

        </form>

    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end py-1">

        <button id="save" mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="swap()"><i
                class="fa-solid fa-floppy-disk"></i>
            {{ 'swaporder.swap' | translate }}
        </button>
        <button id="back" mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
            {{ 'COMMON.BACK' | translate }}
        </button>
        <button id="reset" mat-raised-button class="button-color-red text-white mx-3" (click)="reset();"><i
                class="fa-solid fa-arrow-rotate-right"></i>
            {{ 'COMMON.RESET' | translate }}
        </button>

    </mat-card-content>

</mat-card>