$background-shadow : rgba(0,0,0,.3);
$background-color : rgba(0, 0, 0, 0.06);
$color-blue: #3e77b1;
$color-orange: #e28d00;
$color-green: #2f4538;
$color-error: #f44336;
$color-red: #f80000;
$color-yellow: yellow;
$color-gray: #efefef;
$color-white: white;
$color-ddd : #ddd;
$color-f9f9f9 : #f9f9f9;
$color-color : rgba(0,0,0,.42);

$bg-color: var(--start-color, #dc9d00);
$bg-color-image: linear-gradient(
    90deg,
    var(--start-color, #dc9d00) 0%,
    var(--end-color, #dc9d00) 90%
  );