<mat-card>

    <mat-card-content>

        <form [formGroup]="formData" autocomplete="off">

            <h6>
                Cash / Bank Master
            </h6>

            <div class="row p-1">
                <!-- <mat-form-field class="col-2">
                    <mat-label>{{ 'cashbank.company' | translate }}</mat-label>
                    <mat-select formControlName="company">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- <mat-form-field class="col-2">
                    <mat-label>{{ 'cashbank.branch' | translate }}</mat-label>
                    <mat-select formControlName="branch">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let branch of branchList" [value]="branch.id">
                            {{branch.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="col-2">
                    <mat-label>{{ 'cashbank.transactionType' | translate }}</mat-label>
                    <mat-select formControlName="transactionType" (selectionChange)="accountSelect();">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let trans of transactionTypeList" [value]="trans">
                            {{ trans }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{ 'cashbank.natureofTransaction' | translate }}</mat-label>
                    <mat-select formControlName="natureofTransaction">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let nature of natureofTransactionList" [value]="nature">
                            {{ nature }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{ 'cashbank.voucherType' | translate }}</mat-label>
                    <mat-select formControlName="voucherType" (selectionChange)="voucherNoCalculate();">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let type of vouchersTypeList" [value]="type.voucherTypeId">
                            {{type.voucherTypeName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'cashbank.voucherNumber'"></mat-label>
                    <input matInput formControlName="voucherNumber" appFocusOnEnter tabIndex="2">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'cashbank.voucherDate'"></mat-label>
                    <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker1"
                        [nonEditable]="picker1" formControlName="voucherDate" appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'cashbank.postingDate'"></mat-label>
                    <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker2"
                        [nonEditable]="picker2" formControlName="postingDate" appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{ 'cashbank.account' | translate }}</mat-label>
                    <mat-select formControlName="account">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let acc of accountList" [value]="acc.accountNumber">
                            {{ acc.accountNumber }} - {{acc.glaccountName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label>{{ 'cashbank.accountingIndicator' | translate }}</mat-label>
                    <mat-select formControlName="accountingIndicator">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let nature of indicatorList" [value]="nature.id ">
                            {{nature.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'cashbank.referenceNo'"></mat-label>
                    <input matInput formControlName="referenceNo" appFocusOnEnter tabIndex="2">
                </mat-form-field>

                <mat-form-field class="col-2">
                    <mat-label [translate]="'cashbank.referenceDate'"></mat-label>
                    <input matInput [matDatepickerFilter]="commonService.disableFuture" [matDatepicker]="picker4"
                        formControlName="referenceDate" appFocusOnEnter tabIndex="4">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>

                <!-- <mat-form-field class="col-2">
                    <mat-label>{{ 'cashbank.profitCenter' | translate }}</mat-label>
                    <mat-select formControlName="profitCenter">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let profCen of profitCenterList" [value]="profCen.id">
                            {{profCen.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- <mat-form-field class="col-2">
                    <mat-label>{{ 'cashbank.segment' | translate }}</mat-label>
                    <mat-select formControlName="segment">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let segm of segmentList" [value]="segm.id">
                            {{segm.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="col-2">
                    <mat-label [translate]="'cashbank.narration'"></mat-label>
                    <input matInput formControlName="narration" appFocusOnEnter tabIndex="2">
                </mat-form-field>
            </div>
        </form>

        <!-- <div>
            <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
                [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table>
            <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
                 [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table>
        </div> -->

        <div class="p-2 card">

            <h6>
                Cash / Bank Details
            </h6>

            <form [formGroup]="formData1" autocomplete="off">

                <div class="row p-1">

                    <div class="multiselect-dropdown-list floating-dropdown col-2"
                        [class.filled]="formData1.value?.glaccount?.length > 0">
                        <label> {{ 'journals.glaccountName' | translate }} </label>
                        <ng-multiselect-dropdown placeholder=" " formControlName="glaccount"
                            (onSelect)="getgLsubAccountList();" [settings]="dropdownSettings" [data]="glAccountList">
                        </ng-multiselect-dropdown>
                    </div>

                    <div class="multiselect-dropdown-list floating-dropdown col-2"
                        [class.filled]="formData1.value?.subGlaccount?.length > 0">
                        <label> {{ 'journals.glsubName' | translate }} </label>
                        <ng-multiselect-dropdown placeholder=" " formControlName="subGlaccount"
                            [settings]="dropdownSettings1" [data]="subGlAccountList">
                        </ng-multiselect-dropdown>
                    </div>

                    <!-- <mat-form-field class="col-2">
                        <mat-label>{{ 'journals.glaccountName' | translate }}</mat-label>
                        <mat-select formControlName="glaccount"
                            (selectionChange)="getgLsubAccountList(); accountingIndicatorChange();">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let comp of glAccountList" [value]="comp.glaccountName">
                                {{ comp.accountNumber }} - {{comp.glaccountName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label>{{ 'journals.glsubName' | translate }}</mat-label>
                        <mat-select formControlName="subGlaccount">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let comp of subGlAccountList" [value]="comp.glsubName">
                                {{ comp.glsubCode }} - {{comp.glsubName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->


                    <mat-form-field class="col-2">
                        <mat-label>{{ 'journals.accountingIndicator' | translate }}</mat-label>
                        <mat-select formControlName="accountingIndicator"
                            (selectionChange)="accountingIndicatorChange();">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let comp of indicatorList" [value]="comp.id">
                                {{comp.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label>{{ 'journals.taxCode' | translate }}</mat-label>
                        <mat-select formControlName="taxCode" (selectionChange)="taxCodeAmountChange();">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let comp of taxCodeList" [value]="comp.taxRateCode">
                                {{comp.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-2">
                        <mat-label [translate]="'receiptspayments.amount'"></mat-label>
                        <input matInput type="number" formControlName="amount" (change)="taxCodeAmountChange();"
                            appFocusOnEnter tabIndex="7">
                    </mat-form-field>


                    <!-- <mat-form-field class="col-2">
                        <mat-label [translate]="'receiptspayments.sgstamount'"></mat-label>
                        <input matInput type="number" formControlName="sgstamount" appFocusOnEnter tabIndex="10">
                    </mat-form-field>



                    <mat-form-field class="col-2">
                        <mat-label [translate]="'receiptspayments.cgstamount'"></mat-label>
                        <input matInput type="number" formControlName="cgstamount" appFocusOnEnter tabIndex="10">
                    </mat-form-field>


                    <mat-form-field class="col-2">
                        <mat-label [translate]="'receiptspayments.igstamount'"></mat-label>
                        <input matInput type="number" formControlName="igstamount" appFocusOnEnter tabIndex="10">
                    </mat-form-field> -->



                    <mat-form-field class="col-2">
                        <mat-label>{{ 'journals.hsnsac' | translate }}</mat-label>
                        <mat-select formControlName="hsnsaccode">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let comp of hsnsacList" [value]="comp.code">
                                {{comp.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field class="col-2">
                        <mat-label [translate]="'receiptspayments.narration'"></mat-label>
                        <input matInput type="text" formControlName="narration" appFocusOnEnter tabIndex="8">
                    </mat-form-field>

                </div>

                <div id="for" class="d-flex justify-content-end mb-3">

                    <button mat-raised-button id="submit" type="submit" class="button-color-bule mx-1 text-white"
                        (click)="saveForm()"><i class="fa-solid fa-arrows-rotate"></i>
                        {{ 'COMMON.UPDATE' | translate }}
                    </button>
                    <button mat-raised-button id="reset" class="button-color-red text-white mx-1"
                        (click)="resetForm();"><i class="fa-solid fa-arrow-rotate-right"></i>
                        {{ 'COMMON.RESET' | translate }}
                    </button>

                </div>

            </form>

            <div>
                <app-table class="table-css" [tableData]="tableData" [showButtons]="false"
                    (editOrDeleteEvent)="editOrDeleteEvent($event)">
                </app-table>
            </div>
        </div>


    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end py-1">

        <button id="save" [hidden]="routeEdit != ''" mat-raised-button type="submit"
            class="button-color-bule mx-3 text-white" (click)="save()"><i class="fa-solid fa-floppy-disk"></i>
            {{ 'COMMON.SAVE' | translate }}
        </button>
        <button id="back" mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
            {{ 'COMMON.BACK' | translate }}
        </button>
        <button id="reset" [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="reset();"><i class="fa-solid fa-arrow-rotate-right"></i>
            {{ 'COMMON.RESET' | translate }}
        </button>
        <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="return();">
            {{ 'COMMON.RETURN' | translate }}
        </button>

    </mat-card-content>

</mat-card>