<mat-card>
    
    <mat-card-content>

        <div  class="row">
            <div class="col-6">
                <app-table class="table-css" [showButtons]="false" [tableData]="tableData" [routeParam]="'ordervssales'"></app-table>
            </div>
            <div class="col-6" *ngIf="chartOptions">
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
            </div>
        </div>
        
    </mat-card-content>

    <mat-card-content>

        <div  class="row">
            <div class="col-6">
                <app-table class="table-css" [showButtons]="false" [tableData]="tableData1" [routeParam]="'dashboardGraph'"></app-table>
            </div>
            <div class="col-6" *ngIf="chartOptions1">
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions1"></highcharts-chart>
            </div>
        </div>
        
    </mat-card-content>

</mat-card>